<div class="modal fade" id="info_modal" game_id="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="name">
          <span class="info"></span>
        </div>
      </div>
      <div class="modal-body">
        <div class="image">
          이미지
          <img class="info" src="" style="width:100%" alt="" />
        </div>
        <div class="genre">
          장르
          <span class="info"></span>
        </div>
        <div class="platform">
          플랫폼
          <span class="info"></span>
        </div>
        <div class="maker">
          제작사
          <span class="info"></span>
        </div>
        <div class="distribute">
          유통사
          <span class="info"></span>
        </div>
        <div class="date">
          날짜
          <span class="info"></span>
        </div>
        <div class="user_class">
          사용자 등급
          <span class="info"></span>
        </div>
        <div class="movie">
          영상
          <span class="info"></span>
        </div>
        <div class="content">
          소개
          <span class="info"></span>
        </div>
        <div class="rating">
          평가점수
          <input type="number" class="info" game_id="" value="" />
          <input type="button" onclick="modal_rating()" value="평점 매기기" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="comment">
          <div class="show-comment">
          </div>
          <div class="send-comment">
            <input type="text" class="message" value="" />
            <input type="button" class="send-comment" onclick="make_comment()" value="" />
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

