<h1>가지고 있는 플랫폼을 선택하세요</h1>


<script type="text/javascript" charset="utf-8">
  function set_user_platform() {
    selected_platform = new Array
    $(".platform-item:checked").each(function() {
      selected_platform.push($(this).val());
    });
    $.ajax({
      url: "/api/set_user_platform/",
      dataType:"JSON",
      type: "POST",
      data: {
        platform_ids: selected_platform
      },
      success: function(data) {
        location.href = "/"
      }
    })
  }
</script>


